@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&display=swap');

header{
    display: flex;
    justify-content: center;
    background: #000000;
}

.logoKenzie{
    margin: 42px;
}

body{
    background: #000000;
    font-family: 'IBM Plex Sans', sans-serif;
}

main{
    background: #000000;
}

h1{
    margin: 73px;
    color: #FFFFFF;
    text-align: center;
    font-size: 32px;
}

.boxMain{
    display: flex;
    justify-content: space-around;
    margin: 150px auto 0;
    max-width: 700px;
    height: 250px;
    
}

.figure{
    width: 160px;
    height: 160px;
    overflow: hidden;
    max-width: 160px;
    max-height: 160px;
    
}

.avatar1{
    overflow: hidden;
     max-width: 160px;
    max-height: 160px;
    border-radius: 10px;
}

.avatar1_img{
    width: 160px;
    height: 160px;
    border-radius: 10px;
}

.avatar1_img:hover{
    transform: scale(1.1);
    
}

.avatar2{
    overflow: hidden;
     max-width: 160px;
    max-height: 160px;
    border-radius: 10px;
}

.avatar2_img{
    width: 160px;
    height: 160px;
    border-radius: 10px;
}

.avatar2_img:hover{
    transform: scale(1.1);
    
}

.avatar3{
    overflow: hidden;
     max-width: 160px;
    max-height: 160px;
    border-radius: 10px;
}

.avatar3_img{
    width: 160px;
    height: 160px;
    border-radius: 10px;
}

.avatar3_img:hover{
    transform: scale(1.1);    
}

.frame5{
    width: 160px;
    height: 160px;
    background-image: url("./Frame\ 5.png");
    background-size: cover;
}

.frame5:hover{
    background-image: url("./Frame\ 5UP.png");
        
}

p{
    color: white;
    text-align: center;
}

button{
    
    display: block;
    width: 206px;
    margin: 100px auto 0;
    background: #000000;
    color: #FFFFFF;
}

button:hover{
    background-color: white;
    color: black;
}